<!--
/*
 * Copyright (C) 2009 J. "MUFTI" Scheurich
 * 
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program (see the file "COPYING" for details); if 
 * not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 */
-->
<h1>Program start</h1>
<br>
<br>
There is a extra program icon to start "dune4kids" on some systems
(Linux KDE/Gnome und SGI IRIX 4dwm). It looks like this:
<br>
<img src="dune4kids2.png">
<img src="dune4kids.png">
<img src="dune4kids3.png">
<img src="dune4kids4.png">
<br><br>
On systems like Micro$oft Windows or MacOSX there is only a (other)
program icon:<br>
<img src="dune.png">
<img src="dune2.png">
<img src="dune4.png">
<img src="dune5.png">
<img src="dune3.png">
<!-- <img src="dune6.png"> -->
<img src="dune7.png">
<br><br>
Usually, the program of this icon starts the full version on white_dune
(with too much icons and too much menus) on first usage.<br>
<a href="dune4kids_start_en.html" target="_blank">
  <img src="dune_start_en.png"><br><br>
</a>
First, the program must be switched to the dune4kids user interface.<br>
Click <a href="dune4kids_start_de.html" target="_blank"> 
here</a> to find out, how to switch to the right user interface.
<br>
<img src="frog01.png">
<br><br>
<h2>What can be done, when the program crashes ?</h2>
With a little luck it is possible to reload the last situation, when you
find a new ".dune_crash" file in the list of recent files in the "File" menu.
<br>
<img src="frog00.png">
<br>
<h1>Navigation</h1>
Navigation is the movement in the 3D model.<br>
This is important, cause you can easily in or behind your work and see nothing
on screen.<br><br>
When you see nothing, there are 2 ways to continue, often both ways are
used together:
<ul>
<li> <b>Go backward</b><br>
     You can go forward and backwards by pressing the shift key on the 
     keyboard and the left button of the mouse.
     In the "Examine" mode (when the icon _____ is pressed)
     this also works with the middle botton of the mouse.
     If your mouse has a mousewheel instead of a middle button, you must
     press down the middle mousewheel.
</li>
<li> <b>Man dreht die 3D-Welt</b><br>
     When you press together the left mouse button and the "Control" key
     on the keyboard ("ctrl" on a english keyboard) you can turn the
     whole 3D-world around you. 
     This is usually used to look to a new created object near to you
     from all sides, but do not help, when you are into the void.<br>
     But keep in mind, that the content can be not only be hidden behind 
     you, it can be also above, below, left or right.<br>
     You need to turn around a lot to find your object.
</li>
</ul>
Additionally, there is the possibility to press the left mouse button,
the "shift" and the "control" key together. In this case, it is possible
to move in the direction of the screen surface (up, down, left or right).
<br>
<h1>Icons for changes</h1>
To show how things can be changed, a box is created.
<br>
<img src="new_box.png">
<br><br>
Icons to change whole objects:
<ul>
<li>Move: <img src="schieb.png"><br>
<img src="translate_icon.png">
</li>
<li>Rotate: <img src="rot.png"><br>
<img src="rotate_icon.png">
</li>
<li>Scale up/down: <img src="scale.jpg"><br>
<img src="scale_icon.png">
</li>
<li>Uniform scale up/down: <img src="uniform_scale.png"><br>
<img src="uniform_scale_icon.png">
</li>
<li>Move turnpoint: <img src="center.jpg"><br>
<img src="turnpoint_icon.png">
</li>
</ul>
With small white boxes the objects itself can be changed.
With the arrow icons <img src="xyz.png"> the direction can be driven.<br>
For example, if the green arrow has been pressed
<img src="y_only.jpg"><br> 
<img src="yonly_1.jpg"> 
<br><br> 
a small white box can only be moved in the direction of the green arrow.<br>
<img src="yonly_2.jpg">. 
<br><br>
In the same way, as you can grab arrows on their base instead of their
top to move them into a plain, you can also press down two arrow icons
together <img src="xz_only.jpg"> to move a small white box in a plain.
<h1>Example for animation</h1>
<img src="frog02.png">
<br>
<img src="frog02a.png">
<br>
<img src="frog04a.png">
<br>
<br>
A lot of commands only work, when the right thing is selected (clicked
with the mouse)<br>
In this case, a "Transform" must be selected.
<br>
<br>
<img src="frog04a.png">
<img src="frog05a.png">
<img src="frog06a.png">
<img src="frog07a.png">
<img src="frog08a.png">
<img src="frog09a.png">
<h1>Example for modelling</h1>
<br>
<br>
<img src="frog02b.png">
<br>
<img src="frog02c.png">
<img src="pfeil.png">
<img src="frog03b.png">
<img src="pfeil.png">
<img src="frog04.jpg">
<br>
<img src="frog05.png">
<img src="pfeil.png">
<img src="frog06.png">
<img src="frog07.png">
<br>
<img src="frog08b.png">
<img src="pfeil.png">
<img src="frog08.png">
<br>
<img src="frog04.jpg">
<img src="pfeil.png">
<img src="frog11.jpg">
<br>
<img src="frog02.png">
<img src="frog14.jpg">
<br>
<img src="frog15.png">
<img src="frog16.jpg">
<img src="frog17.jpg">
<br>
<img src="frog18.png">
<br>
<img src="frog20.jpg">
<img src="pfeil.png">
<img src="frog21.jpg">
<br>
<img src="frog22.jpg">
<img src="pfeil.png">
<img src="frog23.jpg">
<br>
<img src="frog24.jpg">
<img src="frog25.png">
<br>
<img src="frog26.jpg">
<br>
<img src="frog27.png">
<img src="frog28.jpg">
<br>
<img src="frog29.jpg">
<img src="pfeil.png">
<img src="frog30.jpg">
<br>
<img src="frog31.jpg">
<img src="frog32.png">
<img src="frog33.png">
<img src="frog34.png">
<img src="frog35.png">
<img src="frog36.png">
<img src="frog37.jpg">
<img src="frog38.png">
<br>
<img src="frog40.jpg">
<img src="pfeil.png">
<img src="frog41.jpg">
<br>
<img src="frog42.jpg">
<img src="pfeil.png">
<img src="frog43.png">
<img src="frog44.jpg">
<br>
<img src="frog45.jpg">
<img src="frog47.jpg">
<img src="frog48.png">
<img src="pfeil.png">
<img src="frog49.png">
<img src="frog05a.png">
<img src="frog51.png">
<img src="frog52.jpg">
<img src="frog53.png">
<img src="frog54.jpg">
<br>
<img src="frog55.png">
<br>
<img src="frog56.jpg">
<br>
<img src="frog57.png">
